<form
  (ngSubmit)="onLogUser()"
  [formGroup]="logGroup"
  class="contenid form-group"
>
  <a class="btn click-back" routerLink="">X</a>
  <div class="contenid-Control">
    <input
      formControlName="email"
      class="form-control"
      type="text"
      placeholder="Email"
    />
  </div>
  <div class="contenid-Control">
    <input
      formControlName="password"
      class="form-control"
      type="password"
      placeholder="Password"
    />
  </div>
  <div class="contenid-Control">
    <input
      type="submit"
      class="btn btn-warning"
      value="Siguiente"
      [disabled]="!logGroup.valid"
    />
  </div>
  <div class="contenid-sigUp">
    <p>
      Don't have an account? Don't worry, redirect to create one
      <a routerLink="/home/sig"> here. </a>"
    </p>
  </div>
</form>
