@keyframes moveForTwo {
  25% {
    margin-left: 0%;
  }
  28% {
    margin-left: -100%;
  }
  54% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes moveForThree {
    25% {
      margin-left: 0;
    }
    28% {
      margin-left: -100%;
    }
    54% {
      margin-left: -100%;
    }
    58% {
      margin-left: -200%;
    }
    85% {
      margin-left: -200%;
    }
    90% {
      margin-left: -100%;
    }
    100% {
      margin-left: 0%;
    }
  }

  @keyframes moveColors {
    25% {
      background-color: rgba(252, 8, 8, 0.541);
    }
    28% {
      background-color: rgba(0, 0, 255, 0.527);
    }
    54% {
      background-color: rgba(43, 42, 42, 0.76);
    }
    58% {
      background-color:  rgba(255, 166, 0, 0.753);
    }
    85% {
      background-color: rgba(255, 255, 19, 0.767);
    }
    90% {
      background-color: rgba(16, 240, 16, 0.678);
    }
    100% {
      background-color: rgba(0, 0, 255, 0.603);
    }
  }