<form
  (ngSubmit)="onNewUser()"
  [formGroup]="sigGroup"
  class="contenid form-group"
>
<a class="btn click-back" routerLink="">X</a>
  <div class="contenid-Control ">
    <input
      formControlName="name"
      class="form-control"
      type="text"
      placeholder="Name and Last name"
    />
  </div>
  <div class="contenid-Control">
    <input
      formControlName="email"
      class="form-control texting w-100"
      type="text"
      placeholder="Email"
    />
  </div>
  <div class="contenid-Control">
    <input
      formControlName="password"
      class="form-control "
      type="password"
      placeholder="Password"
    />
  </div>
  <div class="contenid-Control">
    <input
      formControlName="confirmPassword"
      class="form-control"
      type="password"
      placeholder="Confirm Password"
    />
  </div>
  <div class="contenid-Control ">
    <input
    formControlName="dateOfBirth"
      class="form-control"
      type="datetime"
      placeholder="Date of Birth: MM/DD/YYYY"
    />
  </div>
  <div class="contenid-Control ">
    <select formControlName="typeOfBusiness" class="form-select w-100 bg-dark text-light"
    >
      <option value="">Tipo de Negocio:</option>
      <option *ngFor="let busin of businessis" [value]="busin">{{busin}}</option>
    </select>
  </div>
  <div class="contenid-Control ">
    <input
      type="submit"
      class="w-100 text-center btn btn-warning"
      value="Siguiente"
      [disabled]="!sigGroup.valid"
    />
  </div>
</form>
